body {
  background-color: var(--mantine-color-background-filled) !important;
  /* background color redirects to the default values */
}

/** enforce base animations when programmatically repositioning a node */
.react-flow__node {
  transition: transform 0s linear !important;
}

/* Bouncing animation for pin nodes */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%); /* Move up by 20% of the element's height */
  }
}

.bouncing-pin {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: bounce 1s ease-in-out infinite;
}
